0_reference/photos_durand_2015/
0_reference/2_references/
1_filtrage/autres_requetes/
1_filtrage/data/
1_filtrage/schema_bd_soduco.pptx
1_filtrage/more.md
1_filtrage/1_extraction_ghdb/scripts_python/.idea/
1_filtrage/1_extraction_ghdb/scripts_python/connect/__pycache__/
1_filtrage/1_extraction_ghdb/scripts_python/stats_bdd/
1_filtrage/1_extraction_ghdb/scripts_python/stats/stats_mots_cle_photo.py
1_filtrage/1_extraction_ghdb/scripts_python/stats/stats_most_commons_words.py
1_filtrage/1_extraction_ghdb/scripts_python/copy_tables.py
1_filtrage/1_extraction_ghdb/scripts_python/create_schema.py
1_filtrage/1_extraction_ghdb/scripts_python/reference/
1_filtrage/1_extraction_ghdb/scripts_python/requetes/requete_par_LOC_rueref_CARD_cardref.py
1_filtrage/1_extraction_ghdb/scripts_python/requetes/requete_PER_nomref_LOC_rueref.py
1_filtrage/1_extraction_ghdb/scripts_python/requetes/requete_PER_nomref.py
1_filtrage/1_extraction_ghdb/scripts_python/requetes/README.md
4_methode_logique/old/
4_methode_logique/res/
5_methode_numerique/autres/
5_methode_numerique/2_appariement_annuaires_databnf/resultats/referenceLinks.xml
5_methode_numerique/parametrage_silk/
5_methode_numerique/1_appariement_annuaires_annuaires/appariement_Annuaires_all.xml
5_methode_numerique/1_appariement_annuaires_annuaires/Data_Linking_Params_Photographes.xlsx
6_geocodage/
x_scripts/
problemes_segmentation.txt
doc/img/
photographes-demo-v2/
appli/unused.txt